@page "/"
@using System.Globalization
@inject IStringLocalizer<Index> Localizer

<PageTitle>Index</PageTitle>

<h1>@Localizer["Greeting"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr/>
<h1>CULTURE TEST</h1>
<h3>Current Culture: </h3> @CultureInfo.CurrentCulture

<ul>
    <li><label><b>Date:</b> <input @bind="dt" /></label></li>
    <li><label><b>Number:</b> <input @bind="number" /></label></li>
</ul>

@code
{
    private DateTime dt = DateTime.Now;
    private double number = 1999.69;
}